$font-stack: 'Roboto', sans-serif;
$base-color-one: #393939;
$base-color-two: #fde12f;
$base-color-three: #fac118;
$font-color: #4b4b4b;
$link-color: #e45a54;
$white-color: #fff;
$black-color: #000;

/* =Media Query */
$xxxsPlus : 320px;
$xxsPlus : 480px;
$xsPlus  : 600px;
$smPlus  : 768px;
$mdPlus  : 992px;
$lgPlus  : 1200px;
$xlgPlus : 1366px;